<!DOCTYPE html>
<html>
  <head>
    <title>Tour maven</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "/tm-assets/admin.js", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/tm-assets/admin.css", "data-turbo-track": "reload" %>
  </head>

  <body class="min-h-screen bg-gray-900 flex flex-col lg:flex-row">
    <div class="w-full lg:max-w-xs"><%= render "navigation" %></div>
    <div class="flex-grow bg-white rounded-tl ml-2 px-4 py-3 lg:my-2 lg:rounded-l"><%= yield %></div>
  </body>
</html>
